body {
}
.TableContainer {
	margin:0px;
    padding:0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
	box-shadow: 10px 10px 5px #888888;
    min-width:50px;
	/*border:1px solid #000000;*/
	
	-moz-border-radius-bottomleft:24px;
	-webkit-border-bottom-left-radius:24px;
	border-bottom-left-radius:24px;
	
	-moz-border-radius-bottomright:24px;
	-webkit-border-bottom-right-radius:24px;
	border-bottom-right-radius:24px;
	
	-moz-border-radius-topright:24px;
	-webkit-border-top-right-radius:24px;
	border-top-right-radius:24px;
	
	-moz-border-radius-topleft:24px;
	-webkit-border-top-left-radius:24px;
	border-top-left-radius:24px;
    margin-bottom: 20px;
}.TableContainer table{
     max-height: 200px;
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.TableContainer tr:last-child td:last-child {
	-moz-border-radius-bottomright:24px;
	-webkit-border-bottom-right-radius:24px;
	border-bottom-right-radius:24px;
}
.TableContainer table tr:first-child td:first-child {
	-moz-border-radius-topleft:24px;
	-webkit-border-top-left-radius:24px;
	border-top-left-radius:24px;
}
.TableContainer table tr:first-child td:last-child {
	-moz-border-radius-topright:24px;
	-webkit-border-top-right-radius:24px;
	border-top-right-radius:24px;
}.TableContainer tr:last-child td:first-child{
	/*-moz-border-radius-bottomleft:24px;
	-webkit-border-bottom-left-radius:24px;
	border-bottom-left-radius:24px;*/
/*}.TableContainer tr:hover td{
	background-color:#ffffff;*/
}.TableContainer td{
	vertical-align:middle;
	background-color:#aad4ff;
    width:inherit;
	/*border:1px solid #000000;*/
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:4px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
    min-width:50px;
}.TableContainer tr:last-child td{
	border-width:0px 1px 0px 0px;
}.TableContainer tr td:last-child{
	border-width:0px 0px 1px 0px;
}.TableContainer tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.TableContainer tr:first-child td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	/*border:0px solid #000000;*/
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.TableContainer tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.TableContainer tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.TableContainer tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}.imagecontainer{
    width:150px !important;
    height:150px !important;
    border-radius: 15px;
}.imagecontainerdetails{
    width:200px !important;
    height:200px !important;
    border-radius: 15px;
}.labels
{
  font-weight:normal;
  color:#000000;
  letter-spacing:1px;
  word-spacing:3px;
  font-size:14px;
  text-align:left;
  /*font-family:arial, helvetica, sans-serif;*/
  line-height:1;
  display:block;
}.labelsbottom
{
  font-weight:bold;
  color:#000000;
  /*letter-spacing:1px;
  word-spacing:2px;*/
  font-size:12px;
  text-align:left;
  line-height:1;
  display:block;
}.pagination{
    margin-bottom:0px;
}.ui.icon.input input{
     border-top-right-radius:20px;
}.divfilter{
     height:20px;
 }.ui.secondary.button{
      margin-left:auto;
      margin-right:auto;
      width:60%;
      display:block;
  }.modal-dialog.modal-lg{
    margin: -250px 0 0 -430px;
    position: absolute;
    top: 50%;
    left: 50%;
}.positive.ui.button{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    display:block;
 }.containercenter{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display:block;
 }.text-danger{
      display:none;
  }.scrollit {
    overflow:scroll;
    height:400px;
}.container.body-content{
      /*margin-left: 30px;
      margin-right: inherit;*/

 }.backmaster{
     /*background-image: url(../Images/back12.jpg);*/ 
     background-color:#f2f2f2;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }.div1 {
margin: 0px auto 0px 100px
   }.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; 
}.labelname{
     font-size:35px;
     font-weight:bold;
 }.labeldetails{
     font-size:15px;
     font-weight:bold;
 }.labelsumaryhead{
     font-size:20px;
     font-weight:bold;
     margin-left: 10px;
 }.labelsumary{
     font-size:15px;
     margin-left: 10px;
 }#txtMoreSummary {
    min-height:80px;
    max-height:300px;
    resize:none;
}.checkbox-inline, .checkbox {
   line-height: 1.9;
   font-size:16px;
}.modal { 
    position: fixed; 
    top: 20px !important; 
    right: 3%; 
    left: 3%;
    width: auto; 
    margin: 0; 
}